

/*GERAL*/

.fl{ float:left;}
.fr{ float:right !important;}
.cb{ clear:both;}


/*PADDING*/
.p-tb-10{ padding:10px 0;}

/*MARGIN*/
.m5{ margin:5px;}
.m10{ margin:10px;}




/*FORM*/
form { margin:0; padding:0;}
@media screen and (max-width: 460px) {
	form input[type=text], input[type=file], form select, form textarea { width:100%;}

}




/*SOMBRAS*/
.s_ext{-webkit-box-shadow: 1px 1px 5px 1px #CCCDCF; box-shadow: 1px 1px 5px 1px #CCCDCF;}
.s_ext2{-webkit-box-shadow: 1px 1px 5px 1px #aaaaaa; box-shadow: 1px 1px 5px 1px #aaaaaa;}

.s_int{-webkit-box-shadow: inset 1px 1px 25px 5px #DDDDDD;box-shadow: inset 1px 1px 25px 5px #DDDDDD;}

.g0{ 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6F4FC)) repeat-X;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#E6F4FC)";
	background: -moz-linear-gradient(top, #FFFFFF, #E6F4FC) repeat-X;
	background-image: -ms-linear-gradient(top, #FFFFFF, #E6F4FC);
	background-color:#FFFFFF;
	}

.g1{ 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFA019), to(#FF6B19)) repeat-X;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFA019, endColorstr=#FF6B19)";
	background: -moz-linear-gradient(top, #FFA019, #FF6B19) repeat-X;
	background-image: -ms-linear-gradient(top, #FFA019, #FF6B19);
	background-color:#FF6B19;
	}

.botao1 { border:solid 2px #FF8019; border-radius:5px; color:#FFF; padding: 3px 5px;}


.centro { margin:0 auto; width:980px;} 
@media screen and (max-width: 980px) {.centro { margin:0 auto; width:93%;} }

.centro_fotos { margin:0 auto; width:450px;} 
@media screen and (max-width: 980px) {.centro_fotos iframe, .centro_fotos div { width:100% !important;margin:0 auto;} }

.px_cinza { background:url(img/px_cinza.gif) repeat-y center;}






/*CONTEUDO*/

#conteudo { background:#FFFFF; padding:20px 0; }

#conteudo img { max-width:940px;height: auto;}

#conteudo  button{ background-color:#0072B9; color:#FFF; font-size:16px; margin:5px;border: none;padding: 4px 10px;border-radius: 4px; }
#conteudo  button:hover{ background-color:#DF1279; }


#conteudo .texto { background:#FFFFFF; padding:0 20px 20px 20px; /*border:solid 1px #bbbbbb;*/ border-radius:5px; color:#333 !important; font-size:15px;font-family: 'Roboto', sans-serif;  }

#conteudo .texto .titulo { border-bottom:1px solid #CCC;padding: 5px 0;margin-bottom: 10px; }
#conteudo .texto .titulo h1 { text-transform:uppercase; }
#conteudo .texto .titulo .mapa { float:right; font-size:12px;margin-top: 25px; text-transform:lowercase;  }

#conteudo a{ color:#0072B9;}
#conteudo a:hover{ color:#DF1279;}

#conteudo .faculdade button{ background-color:#0072B9; color:#FFF; font-size:16px; float:left; margin:5px;border: none;padding: 4px 10px;border-radius: 4px; width:146px; }
#conteudo .faculdade button:hover{ background-color:#DF1279; }

#conteudo .voltar { float:right;}
#conteudo .voltar button {background-color:#CCC; color:#333; font-size:14px; border: none;padding:0;border-radius: 4px; width:45px;}


#conteudo .bullet { background: url("img/bullet.gif") no-repeat left center;padding-left: 30px;background-size: 20px;margin-bottom: 10px;}
#conteudo .box_areasocios { width:270px; font-size:13px; text-align:left;box-sizing: border-box;}

#conteudo .login{ background-color:#e8e8e8; max-width:350px; margin:0 auto; border-radius:8px; padding:15px;} 
#conteudo .login input[type=text], #conteudo .login input[type=password] {font-size:16px; background-color:#FFF; border:solid 1px #BBBBBB; border-radius:5px; font-family: 'Oswald', sans-serif; margin:5px 0; width:100%;height: 30px;float: left; padding:0 5px;box-sizing: border-box;}
#conteudo .login button{ background: #DF1279;border: 0;border-radius: 5px 5px; margin:0 !important; height:32px;}
#conteudo .login button:hover{background: #0072BA;border: 0;border-radius: 5px 5px; margin:0 !important; height:32px; }



#conteudo input[type=text], input[type=email], #conteudo select, #conteudo input[type=password] {font-size:16px; background-color:#FFF; border:solid 1px #BBBBBB; border-radius:5px; font-family: 'Oswald', sans-serif; height: 30px; padding:0 5px;box-sizing: border-box;}
#conteudo textarea {font-size:16px; background-color:#FFF; border:solid 1px #BBBBBB; border-radius:5px; font-family: 'Oswald', sans-serif; padding:0 5px;box-sizing: border-box;}
#conteudo button{ background: #DF1279;border: 0;border-radius: 5px 5px; margin:0; height:32px;}

#conteudo .social{ margin-top:30px; display:block; }
#conteudo .social .what{display:none; }

#conteudo .videos {width: 600px;height:400px;margin: 20px auto;padding: 20px;background-color: #000000;border-radius: 12px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#conteudo .videos_link { float:left; margin:8px 10px; text-align:center; background-color:#E3E3E3; padding:10px; border:solid 1px #BBBBBB; border-radius:8px;}
#conteudo .videos_link img {border:solid 1px #BBBBBB; height:105px; border-radius:4px;}
#conteudo .videos_link .v { background:url(img/icon_video.png) no-repeat; width:27px; height:27px; position:absolute; margin: 5px 0 0 5px;}
#conteudo .videos_link .f { background:url(img/icon_foto.png) no-repeat; width:37px; height:27px; position:absolute; margin: 5px 0 0 5px;}
#conteudo .videos_link1 { float:left; margin:8px 10px;  background-color:#E3E3E3; padding:10px; border:solid 1px #BBBBBB; border-radius:8px;}
#conteudo .videos_link2 { margin:8px 10px;  background-color:#E3E3E3; padding:10px; border:solid 1px #BBBBBB; border-radius:8px; display:inline;}

#conteudo .fotos {max-width:430px;margin: 5px;padding: 10px;background-color: #dddddd;border-radius: 8px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

#conteudo .box_cinza { margin:8px 10px; text-align:center;  background-color:#E3E3E3; padding:10px; border:solid 1px #BBBBBB; border-radius:8px;}


#conteudo .selo_home { background-color:#0072BA; width:224px; height:90px; margin:5px; float:left; color:#FFF; font-family: 'Oswald', sans-serif; padding:5px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; text-align:center;font-size: 30px; border-radius:6px;}
#conteudo .selo_home a { color:#FFF !important;}
#conteudo .selo_home a:hover { color:#DF1279 !important;}

#conteudo .selo_home2 { width:305px; margin-right:10px; margin-bottom:5px; float:left; font-family: 'Oswald', sans-serif; padding:10px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; font-size: 16px; background-color:#fff; border-radius:6px;}
#conteudo .selo_home2 img { max-width:100%;}
#conteudo .selo_home2 a { color:#DF1279 !important;}
#conteudo .selo_home2 a:hover { color:#0072BA !important;}

#conteudo .selo_home3 { width:100%; font-family: 'Oswald', sans-serif; padding:10px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; font-size: 16px; background-color:#fff; float:left; border: solid 10px #DDDDDD;}
#conteudo .selo_home3 img { max-width:100%;}
#conteudo .selo_home3 a { color:#DF1279 !important;}
#conteudo .selo_home3 a:hover { color:#0072BA !important;}



@media screen and (max-width: 980px) {
#conteudo .texto { font-size:13px;}
#conteudo .texto .titulo .mapa { display:none;  }
#conteudo .texto img { max-width: 100%; height: auto;  }
#conteudo blockquote { margin:5px; }

#conteudo .social .what{display:block; float:left; }

#conteudo .videos_link  {height:auto !important;max-width: 100% !important;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#conteudo .videos_link img {height:auto !important;max-width: 100% !important;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

#conteudo iframe { width:100%;}

}

@media screen and (max-width: 600px) {
#conteudo .videos { width:100%; height:250px; }
	
}

@media screen and (max-width: 405px) {
#conteudo .faculdade button{  margin:5px 2px; padding:4px 5px; width:48%; font-size:15px;}
	
}












