#form-area {
   margin-top: 6em;
   padding: 3em 1em;
}
form {
   margin: 2rem 0;
   .form-content-justify {
      display: flex;
      justify-content: space-between;
   }
   h1 {
      font-family: $font-family-base;
      color: $title;
   }
   label {
      font-family: $font-family-base;
      font-size: $font-family-base-size;
      font-weight: bold;
   }
   span {
      font-size: 14px;
      font-style: italic;
      color: #dd0000;
   }
   #rg, #cpf { width: 18rem; }
   #cidade { width: 80%; }
   #uf { width: 4rem; }
   #cep { width: 8rem; }
   input[type=text], input[type=email] { width: 100%; }
   input[type=date] { width: 10rem; }
   input[type=tel] { width: 18em; }
   input[type=date],
   input[type=text],
   input[type=email],
   input[type=tel] {
      height: 30px;
      padding: 10px;
      color: $primary;
      background: #ffffff;
   }
   input[type=submit] {
      width: 14em;
      height: 3em;
      margin: 6px;
      color: $box-border;
      border-radius: 0;
      border-color: $box-border;
      background: #ffffff;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
   }
   input[type=submit]:hover {
      background: $box-border;
      color: #eee;
   }
}
