header {
   #main-menu {
      top: 36px;
      z-index: 900;
   }
   .navbar {
      width: 100%;
      background: #ffffff 0 0 no-repeat padding-box;
      opacity: 1;
      .desk {
         ul {
            margin-top: 1rem;
            display: flex;
            justify-content: space-evenly;
            li {
               list-style: none;
               a {
                  font-family: $font-family-menu;
                  font-size: $font-family-base-size;
                  color: $menu-item-base;
                  text-decoration: none;
               }
               a:hover {
                  color: $menu-item-focus;
               }
            }
         }
      }
   }
}
@media (min-width: 993px) {
   header {
      #collapsible-menu { display: none; }
      .navbar {
         div {
            .desk { width: 40em; }
         }
      }
   }
}
