@media (max-width: 992px) {
   header {
      #collapsible-menu {
         display: none;
      }
      .navbar {
         div {
            .desk { width: 35em; }
         }
      .mob { display: flex; }
      }
   }
}

@media (max-width: 768px) {
   header {
      #collapsible-menu {
         display: block;
         background: $focus;
      }
      .navbar {
         display: none;
      }
   }
}

@media (max-width: 576px) {
   header {
      .navbar {
         div {
            .desk { width: 30em; }
         }
         .mob { background: blue; }
      }
   }
}
