// Variables

// Color overrides

// Set a custom color
$menu-item-base:#2a2a2a !default;
$menu-item-focus: #00ada4 !default;

// Set primary color to orange
$primary: #0c0c0c !default;

// Font overrides
$font-family-base: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-base-size: 14px;

$font-family-menu: $font-family-base !default;

// Custom variables
$navbar-height: 72px;
