html {
   body {
     -webkit-filter: contrast(1.5);
     -moz-filter: contrast(1.5);
     -ms-filter: contrast(1.5);
     filter: contrast(1.5);
   }

}
html body img,
html body iframe,
html body video
{
  -webkit-filter: contrast(0.65);
  -moz-filter: contrast(0.65);
  -ms-filter: contrast(0.65);
  filter: contrast(0.65);
}
